@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@theme {
  --breakpoint-3xl: 112rem;
  --breakpoint-4xl: 128rem;

  --font-sans: 'Reddit Sans', sans-serif;
  --font-mono: 'Reddit Mono', monospace;

  --color-discord: #5865f2;
  --color-reddit: #ff4500;
}
